{% extends layout %}


{% block content %}
<link rel="stylesheet" href="css/styles.css">
<div class="container" id="login">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <div class="text-md-center">
        <form class="form-login" method="POST" action="/#">
            <h1 class="h3 mb-3 font-weight-normal">{{ siteName }}</h1>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
      </div>
    </div>
    <div class="col-4" />
  </div>
</div>
{% endblock %}